[submodule "Chimera/vendor/spdlog"]
	path = Chimera/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chimera/vendor/glm"]
	path = Chimera/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Chimera/vendor/box2d"]
	path = Chimera/vendor/box2d
	url = https://github.com/Wantcha/box2d
[submodule "Chimera/vendor/GLFW"]
	path = Chimera/vendor/GLFW
	url = https://github.com/Wantcha/glfw
[submodule "Chimera/vendor/sol2"]
	path = Chimera/vendor/sol2
	url = https://github.com/ThePhD/sol2
[submodule "Chimera/vendor/imgui"]
	path = Chimera/vendor/imgui
	url = https://github.com/Wantcha/imgui
